<div class="home container">
  <h2 class="text_center mb-5">Inicio</h2>

  <div class="home_content">
    <div class="home_introduction">
      <p>
        Hola equipo de Velaio. Soy Onier Crestelo Ojeda y es un placer realizar
        esta prueba técnica con Angular.
      </p>

      <p>
        Este sencillo sitio web fue creado con pasión y rapidez para poder
        postularme a este puesto. Espero poder unirme a este equipo. Ofrezco
        muchos años de experiencia en desarrollo web, específicamente con el
        framework de Angular. Gracias.
      </p>
    </div>
    <div class="home_image">
      <img
        class="img"
        src="../../../assets/img/web_home.jpeg"
        width="220px"
        alt="web_home"
      />
    </div>
  </div>
</div>
