<div class="home container">
  <h2 class="text_center mb-5">Inicio</h2>

  <div class="home_content">
    <div class="home_introduction">
      <p>
        Hello Velaio. I am Onier Crestelo Ojeda and it is a pleasure to make
        this techical test with Angular.
      </p>

      <p>
        This simple website was created with passion and quickly to be able to
        apply for this position. I hope I can join this team. I offer many years
        of experience in web development, specifically with Angular Framework.
        Thanks.
      </p>
    </div>
    <div class="home_image">
      <img
        class="img"
        src="../../../assets/img/web_home.jpeg"
        width="220px"
        alt="web_home"
      />
    </div>
  </div>
</div>
